#new-tab {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;

    .upload-container {
      border: 1px solid #353b48;
      border-radius: 25px;
      width: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 20px,
    }
  }

}