@import './core.scss';

#view-pay {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    text-align: center;

    #pageTitle {
      font-weight: 300;
      margin-bottom: 0;

      u {
        text-decoration: dotted solid;
      }
    }
  
    .subtitle {
      font-weight: 300;
      color: $grey;
      margin-top: 0;
      margin-bottom: 10px;
    }
    
    #amount {
        font-weight: 300;
        margin-bottom: 10px;
    }
  }
}
