@import './core.scss';

#pending-view {
  display: flex;
  flex-direction: column;

  .container {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

  #waitingGif {
    max-width: 80%;
    max-height: 300px;
    margin-top: 40px
  }

  .other-users {
    margin-top: 20px;
  }

  .unclaimed-items {
    h1 {
      font-weight: 300;
      font-size: 1.5em;
      margin-bottom: 0;
    }

    .item-row {
      padding: 10px;
    }

    .item-row:nth-of-type(2n) {
      background-color: $light-grey;
    }
  }
  }
}

#success-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}