@import './core.scss';




.view-tab {
  padding: 10px;

  #placeName {
    font-weight: 300;
    margin-bottom: 0;
  }

  #tabTime {
    font-weight: 300;
    color: $grey;
    margin-top: 0;
    margin-bottom: 10px;
  }
  

  .item-table {
    display: flex;
    flex-direction: column;
  
    .item-row {
      padding: 10px;
      cursor: pointer;
  
      .item-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p.item-description {
          color: $grey;
        }
      }

      .item-info>div:nth-of-type(1){
        text-align: left;
      }
    }
  
    .item-row:nth-of-type(2n) {
      background-color: $light-grey;
    }
  
    .item-row.selected {
      background-color: $dark-blue;
      color: $white;

      p.item-description {
        color: $mid-light-grey;
      }
    }
  }

  .totals {
    margin-top: 20px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .tab-total {
      margin-top: 20px;
    }
    
    .row + .row {
      margin-top: 10px;
    }

    .selected-total {
      div:nth-of-type(2){
        text-align: right;
      }
    }
  }
}
